---
title: Home
layout: base
---

<section class="hero">
  <h1>shady</h1>
  <p><strong>Reverse Engineering</strong></p>
  <p><strong>Digital Forensics and Incident Response</strong></p>
  <p><strong>Malware Analysis</strong></p>
</section>

<div class="post-list">
  <h2 class="post-list-title">Latest Posts</h2>

  {%- for post in collections.posts | reverse -%}
    <div class="post-preview">
      <time datetime="{{ post.date | date: '%Y-%m-%d' }}">{{ post.date | date: "%B %d, %Y" }}</time>
      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      {% if post.data.description %}
        <p>{{ post.data.description }}</p>
      {% endif %}
    </div>
  {%- endfor -%}

</div>