<h1>Latest posts</h1>

<section class="post-list">
  {% for post in collections.posts %}
    <article class="post-card">
      <img src="{{ post.data.thumbnail }}" alt="cover" class="post-thumb" />
      <div class="post-body">
        <h2><a href="{{ post.url }}">{{ post.data.title }}</a></h2>
        <p>{{ post.data.excerpt }}</p>
        <div class="meta">
          <span>{{ post.data.author }}</span> •
          <time>{{ post.date | date: "%B %e, %Y" }}</time> •
          <span>{{ post.data.readtime }}</span>
        </div>
        <div class="tags">
          {% for tag in post.data.tags %}
            <span class="tag"># {{ tag }}</span>
          {% endfor %}
        </div>
      </div>
    </article>
  {% endfor %}
</section>
